<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Web name and  favicon-->
    <title>AWJ</title>
    <link rel="icon" type="image/x-icon" sizes="25x25" href="images/logo.png">

    <!-- Font link used in this website!-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap" rel="stylesheet">

    <!-- Style sheets-->
    <link rel="stylesheet" href="CSS/faqs.css">
    <link rel="stylesheet" href="CSS/header.css">

    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <%- include("partials/headerh.ejs"); %>
    <div class="faqs-all-cont">
        <div class="faqs1">
            <p style="color: white; margin: auto; font-size: 50px;">FAQ's</p>
        </div>
        <div class="faqs2">
            <h3  style="color: #bd3722; text-align: center; ">What is the AWJ Community and how can it help me?</h3>
            <p style="color:#bd3722; text-align: center; opacity: 70%; font-size: 14px;">The AWJCommunity is where you can engage with others regarding your course you are taking and have discussion on the courses, be it problems you are experiencing. It's a place to meet others and seek help. </p>
        </div>
        <div class="faqs2" style="background-color: #bd3722;" >
            <h3  style="color: white; text-align: center; "> How can I reactivate my inactive subscription?</h3>
            <p style="color:white; text-align: center; opacity: 70%; font-size: 14px;">To reactivate your inactive status on Coursera,  go to your "My Purchases" page, update your payment status and pay again. Once you have updated your payment status, you are able to re-enroll and continue your course.  </p>
        </div>
        <div class="faqs2">
            <h3  style="color: #bd3722; text-align: center; ">Is there any way to add a course to Wishlist, Favorites or something like that?</h3>
            <p style="color:#bd3722; text-align: center; opacity: 70%; font-size: 14px;"> The option to Save a course for later is available only for learners who are part of a learning program To save a course for later </p>
        </div>
        <div class="faqs2" style="background-color: #bd3722;" >
            <h3  style="color: white; text-align: center; ">Are courses self-paced? Can I finish my course faster than the stated time?</h3>
            <p style="color:white; text-align: center; opacity: 70%; font-size: 14px;"> You can learn at your own pace when you feel free to learn as per your time schedule. You can finish your course faster than the described time as your schedule allows. To complete a course or a specialization depends on how many hours per day or week you dedicate to the course. Keep in mind your familiarity with the subject matter will also play a role in how long it takes you to complete the course. Some learners are able to finish quicker when they already have familiarity with concepts and terminologies.</p>
        </div>
        <div class="faqs2">
            <h3  style="color: #bd3722; text-align: center; ">How can I change my name on my certificates?</h3>
            <p style="color:#bd3722; text-align: center; opacity: 70%; font-size: 14px;"> If you have already completed your name verification, you can change your name by yourself. Go to settings and click on the "Request Name Change" and change your last name. Check out this help article with more information on verifying your name.</p>
        </div>
        <div>

        </div>
    </div>
    <%- include("partials/footer.ejs"); %>
</body>
</html>