<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Web name and  favicon-->
    <title>AWJ</title>
    <link rel="icon" type="image/x-icon" sizes="25x25" href="images/logo.ico">

    <!-- Font link used in this website!-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap" rel="stylesheet">

    <!-- Style sheets-->
    <link rel="stylesheet" href="CSS/indexCss.css">
    <link rel="stylesheet" href="CSS/header.css">

    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <%- include("partials/header.ejs"); %>
    <div>
      <img class="hpimg" src="images/hpimg.JPEG" alt="hpimg">
      <div class="container1">
        <p class="awj">AWJ</p>
        <h2 class="awjt">Taks you to the next level!</h2>
        <p class="text1">The ultimate online platform for managing CVs, honing skills,<br> and fostering 
          collaborative professional devlopment.
        </p>
        <div class="btns">
        <button class="btnlogin" onclick="location.href = 'login';">LOG IN </button>
        <button class="btnsignin" onclick="location.href = 'register';">SIGN UP</button>
        </div>
      </div>
    </div>

    <div class="container2">
      <div class="goal-container">
        <img src="images/goal.png" alt="" class="imgGoal">
        <p class="txtGoal">  We are a student company committed to nurturing and developing the skills of young people. We seek to provide a unique educational and development environment that enables young people to flourish and innovate.  </p>
      </div>
      <div class="message-container">
        <img src="images/email.png" alt="" class="imgMessage">
        <p class="txtMessage"> We seek to motivate young people to discover and develop their latent skills, by providing distinguished educational content and interactive activities that enhance personal and professional growth. </p>
      </div>
      <div class="vision-container">
        <img src="images/vision.png" alt="" class="imgVision">
        <p class="txtVision"> To be a leader in motivating and empowering young people by providing innovative development programs and interactive learning opportunities that contribute to building an inspiring and influential generation. </p>
      </div>
    </div>
    

    <h1 class="secTitle"> AWJ Users review</h1>
    <div class="contaner3">

      <div class="userCard" style="background-color:#bd3722;">
        <div class="mnContainer">
          <img src="images/m1.jpeg" alt="m1" class="m1">
          <div>
            <p class="userName" style="color:white">Khaild alwaleed alnassri</p>
            <p class="us" style="color:white; opacity: 80%;">@khalid30</p>
          </div>
        </div>
        <div class="userinfo">
          <h4 class="edith4" style="color:white"> Specialization: </h4>
          <p class="spec" style="color:white; opacity: 80%;"> Engineer</p>
           <h4 class="edith4" style="color:white"> Categories:  </h4>
          <p class="endit14" style="color:white; opacity: 80%;"> Cyber ​​security, programmer, website designer</p>
        </div>
        <div>
          <p class="endit14" style="color:white; opacity: 80%;">This website make it easy for me to develope my skills and saved much time.</p>
          <div class="rating">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
          </div>
        </div>
      </div>

      <div class="userCard">
        <div class="mnContainer">
          <img src="images/m2.jpeg" alt="m2" class="m1">
          <div>
            <p class="userName">Mohammed Ali Alshezawi</p>
            <p class="us">@mohammed98</p>
          </div>
          
        </div>
        <div class="userinfo">
          <h4 class="edith4"> Specialization: </h4>
          <p class="spec"> Political sciences</p>
           <h4 class="edith4"> Categories:  </h4>
          <p class="endit14">  Diplomacy and International relations</p>
        </div>
        <div>
          <p class="endit14">Actually Its an extraordinary website that saved time and efforts for me rather than searching everywhere, Best wishes for this website.</p>
          <div class="rating">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
          </div>
        </div>
      </div>

      <div class="userCard" style="background-color:#bd3722;">
        <div class="mnContainer">
          <img src="images/m3.jpeg" alt="m1" class="m1">
          <div>
            <p class="userName" style="color:white;">Sultan Nasser Alshuaibi</p>
            <p class="us" style="color:white; opacity: 80%;">@sultan78</p>
          </div>
          
        </div>
        <div class="userinfo">
          <h4 class="edith4" style="color:white;"> Specialization: </h4>
          <p class="spec" style="color:white; opacity: 80%;"> Law</p>
           <h4 class="edith4" style="color:white;"> Categories:  </h4>
          <p class="endit14" style="color:white; opacity: 80%;">  Public and Private law</p>
        </div>
        <div>
          <p class="endit14" style="color:white; opacity: 80%;">The site contains everything I really want and it’s very simple and easy to use. I wish for it to be more success.</p>
          <div class="rating">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
          </div>
        </div>
      </div>
    </div>


        <h1 class="secTitle"> AWJ Institusion</h1>
    <div class="contaner3">

      <div class="userCard">
        <div class="mnContainer">
          <img src="images/utas.jpg" alt="m1" class="m1">
          <div>
            <p class="userName">UTAS University Suhar</p>
            <p class="us" >@utas_suhar</p>
          </div>
        </div>
        <div class="userinfo">
          <h4 class="edith4"> Description: </h4>
          <p class="spec"> Provides hands-on education in engineering, IT, business, and applied sciences. Focused on innovation and research, UTAS prepares students for the workforce and contributes to regional development.</p>
           <h4 class="edith4"> Categories:  </h4>
          <p class="endit14"> Engineering, IT, Business, Applied Sciences</p>
        </div>
      </div>

      <div class="userCard" style="background-color: #bd3722;">
        <div class="mnContainer">
          <img src="images/sensor.JPEG" alt="m2" class="m1">
          <div>
            <p class="userName" style="color:white;">Sensor company suhar</p>
            <p class="us" style="color:white; opacity: 80%;">@sensor_eps</p>
          </div>
        </div>
        <div class="userinfo">
          <h4 class="edith4" style="color:white;"> Description: </h4>
          <p class="spec" style="color:white; opacity: 80%;">The sensor company offers electronics and programming services, providing various workshops focused on programming and electronics. We assist students in developing their project ideas with us</p>
           <h4 class="edith4" style="color:white;"> Categories:  </h4>
          <p class="endit14" style="color:white; opacity: 80%;">Programing and electronics</p>
        </div>
      </div>

      <div class="userCard">
        <div class="mnContainer">
          <img src="images/squ.jpeg" alt="m1" class="m1">
          <div>
            <p class="userName">Sultan Qaboos University</p>
            <p class="us">@sultanQaboos</p>
          </div>
          
        </div>
        <div class="userinfo">
          <h4 class="edith4"> Description: </h4>
          <p class="spec"> Sultan Qaboos University (SQU) in Muscat, Oman, is a renowned academic and research hub, emphasizing innovation and community engagement to empower students for societal impact.</p>
           <h4 class="edith4"> Categories:  </h4>
          <p class="endit14">Science, Law, Education, Engineering,Medicine and Health Sciences.</p>
        </div>
      </div>
      </div>
    </div>

  <%- include("partials/footer.ejs"); %>

</body>
</html>