<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Web name and  favicon-->
    <title>AWJ</title>
    <link rel="icon" type="image/x-icon" sizes="25x25" href="images/logo.png">
 

    <!-- Style sheets-->
    <link rel="stylesheet" href="CSS/mycv.css">
    <link rel="stylesheet" href="CSS/header.css">

    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <%- include("partials/headerh.ejs"); %>
    
  <div class="mycv">

  <div class="sidebar">
    <br>
    <img src="images/m2.jpeg" alt="sensor" class="senimg">
    <p>Mohammed Ali Alshezawi</p>

    <p>Email</p>
    <p><a href="" style="max-width: 30%;">MohammedAliAlshezawi@gmail.com</a></p>
    <p>Address</p>
    <p>Suhar</p>
    <p>Phone</p>
    <p>99999999</p>
    <p>Date of birth</p>
    <p>23-3-2000</p>
    <p>Nationality</p>
    <p>Omani</p>
    <p>linkedin</p>
    <p><a href="">@linkedin</a></p>

    <hr>
    <p>
      Skills
    

    <ul>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    

  </p>

  <hr>



  <br>
    

  <p>
    Languages
    
    <ul>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  
  </p>
    

  
</div>
  <div class="cvdetails">

    
      <div class="aboutcont">
    <h2 Style="color: #bd3722;">Mohammed Ali Alshezawi</h2>
    <h3>Front-End Developer</h3>
    
    <p>
      A front-end developer builds the front-end portion of websites and web
      applications whitch the users see and interact with. Also
      I create websites and applications using web
      languages such as HTML, CSS, and JavaScript that
      allow users to access and interact with the site or app.

    
    </p>
    
  </div>


    
    
  <div class="experience">

    
    <h2 style="color: #bd3722;">Experience</h2>

    <br><br>
    <h2><ul><li>Lead Front-end Developer</li></ul></h2>
    
    
    <p>
    Development Inc. Harrisburg. PA<br><br>
    February 2010 - Present<br><br>
    Created links with external organizations as various providers, Generated
    statewide venue database, Assessed, improved and implemented.
    floorplans for events of over 1,000 guests.
    
  </p>
    <br>

    <h2><ul><li>Front-end Developer</li></ul></h2>
    
    
    <p>
      Design and development Inc. Harrisburg. PA<br><br>
      April 2009 - January 2010<br><br>
      Created links with external organizations as various providers, Generated
      statewide venue database, Assessed, improved and implemented.
      floorplans for events of over 1,000 guests. Developed, implemented and
      managed over 500 events, Liaising with high priority clients on a daily
      basis.
  </p>
  
</div>

<div class="education">

    
  <h2 style="color: #bd3722;">Education</h2>

  <br><br>
  <h3><ul><li>Bachelor of Business Administration</li></ul></h3>
  
  <p>
    Major in Events Planning and Marketing<br><br>
    University of Rochester Harrisburg. PA<br><br>
    March 2005 - January 2009<br>
    Design, Risk Management. Technological Tools in Event Management.
    Sustainability in Events, Event Social Media
  
</p>
  <br>

  <h2><ul><li>MA Event Management</li></ul></h2>
  
  
  <p>
    New York University New York. NY<br><br>
    March 2005 - January 2009<br><br>
    Design, Risk Management, Technological Tools In Event Management.
    Sustainability in Events, Event Social Media
</p>




</div>




</div>


</div>
<div class="secondpage">
  

<div class="sidesec">
  <br><br>
  <br><br>
  <h1>My Certificates</h1>
</div>

  


  <div class="certificate">
    
      <br><br>
      <h3><ul><li>The Complete Front-End Web Development Course</li></ul></h3>
      
      <br><br> <i>By Udemy (2017)</i>

      <p>
        Simple HTML test site, style web pages using CSS, 
        program websites with JavaScript, and build a Pipboy using Bootstrap.
    </p>
      <br>
    
      <h2><ul><li>Explore a Career in Front-End Web Development</li></ul></h2>
      
      <br><br> <i>Linked In (2019)</i>
      <p>
        build engaging, interactive user experiences on the web as a
        front-end web developer.
        <br>
        design and develop user-facing code and discover how to
         bring concepts to life on the browser canvas, 
         whether you're creating sites or apps.
    </p>


      
<div class="reference">
    
  <br><br>
  <h3 style="color: #bd3722;">Reference</h3>
  <h4><li>Abdulsalam Al-Shibli</h4></li>
  <p>Abdulsalam Al-Shibli, CEO of Awj, Suhar-Oman. Tel: +968 9977 4567.
    Email: abdsal@gmail.com. Relationship: CEO</p>
    </div>

  </div>


  

</div>    


</body>
</html>