<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Web name and  favicon-->
    <title>AWJ</title>
    <link rel="icon" type="image/x-icon" sizes="25x25" href="images/logo.png">

    <!-- Font link used in this website!-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap" rel="stylesheet">

    <!-- Style sheets-->
    <link rel="stylesheet" href="CSS/myprof.css">
    <link rel="stylesheet" href="CSS/headerh.css">

    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <%- include("partials/headerh.ejs"); %>

    <div class="allcont">
            <div class="profile">
            <div>
            <img src="images/m2.jpeg" alt="sensor" class="senimg">
            </div>
            <div class="info">
                <div class="disp">
            <p>Name: Mohammed Ali Alshezawi</p>
            <p>User name: @mohammed98</p>
            <p>Email: mohammed98@gmail.com</p>
            </div><div class="disp">
            <p>Phone number: 97886530</p>
            <p>Specialization: IT</p>
            <p>Major: Front-End developer</p>
            </div>
        </div>
        </div>
        
        <div class="btnss">
            <div class="grp">
        <button class="probtn" ondblclick="location.href='mycert';"> My Certificates</button>
        <button class="probtn"> Change profile image</button>
        </div>
        <div class="grp">
        <button class="probtn"> Add Certificates</button>
        <button class="probtn"> Update informations</button>
        </div>
        <div class="grp">
        <button class="probtn"> Change password</button>
        </div>
    </div>
    </div>
    <%- include("partials/footer.ejs"); %>

</body>
</html>