<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Web name and  favicon-->
    <title>AWJ</title>
    <link rel="icon" type="image/x-icon" sizes="25x25" href="images/logo.png">

    <!-- Font link used in this website!-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap" rel="stylesheet">

    <!-- Style sheets-->
    <link rel="stylesheet" href="CSS/indexCss.css">
    <link rel="stylesheet" href="CSS/header.css">

    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav>
        <img src= "images/logo.png" alt="" class="logo">
        <div class="bars">
          <i class="fa fa-bars"></i>
        </div>
        <ul class="nav-links">
          <li class="nav-link"><a href="/login">Log in</a></li>
          <li class="nav-link"><a href="/register">register</a></li>
          <li class="nav-link"><a href="/FAQs">FAQ's</a></li>
          <li class="nav-link"><a href="/institution">institution</a></li>
          <li class="nav-link"><a href="/certificate">Certificate</a></li>
        </ul>
      </nav>
      <script>
        const bars = document.querySelector(".bars");
        const nav = document.querySelector("nav");
    
        bars.onclick = () => {
        nav.classList.toggle("active");
        };
      </script>
    
</body>
</html>